.header{
display:flex;
justify-content:space-between;
border-bottom: 1.5px solid #f9f9f9;
align-items: center;
}
.header__logo{
height :65px;
object-fit: contain;
}
.header__icon{
padding: 18px;
}